$border-radius: 10px;

.pokemons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 1em 0;

  &.list {
    flex-direction: column;
  }
}

.modal {
  *:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }

  [role="dialog"] {
    width: 400px;
    border-radius: $border-radius;

    /* stylelint-disable selector-pseudo-class-no-unknown, selector-class-pattern */
    :global .cds--modal-content {
      padding-top: 3em;
    }
  }

  & button {
    border-top-right-radius: $border-radius;
  }
}
